.top-header {
	top: 0;
	background-color: brown;
    color: white;
    padding: 6px;
    text-align: center;
    position: relative;
    width: 100%; /* Use viewport width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-header {
	background-color: brown;
    color: white;
    padding: 6px;
    font-size: 16px; /* reduced slightly for a slimmer footer */
    text-align: center;
    position: fixed;
    width: 100%; /* Use viewport width */
    bottom: 0;
}
.buttons {
	background-color: blue;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	padding: 6px 10px;
	margin-left: 30px;
}

.buttons:hover {
	background-color: #70105c
}
.buttons:active{
	border:2px solid #ff8040;
}
.loginform{
	margin: 170px 550px;
	padding: 50px;
	border: 2px solid brown;
	border-radius: 15px;
	margin-top:120px;
}
.heading {
	color: white;
	text-align: center;
	 font-size: 20px;
	 margin-right:710px;
}
.labelheading{
	color: brown;
	font-weight: bold;
	margin-left:50px;
	font-size: 20px;
}
.forgotlink{
	color:#27b9d8;
}
.forgotlink:hover{
	text-decoration:underline;
	cursor: pointer;
}
.forgotlink:active{
	color:#ff0000;
}
.error{
	color: red;	
	font-weight: bold;
	text-align: center;
	font-size: 16px;
    margin-bottom: -35px;	
}
.logo{
	height:40px;
	margin-left:8px;
}