<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Forgot Password</title>
<link rel="stylesheet" href="css/Forgotpassword.css">
</head>
<body>

<div class="top-header">
<img src="images/logo.jpg" alt="logo" class="logo">
<h2 class="heading">Forgot Password</h2>
<a class="logout" href="/logout"> Logout </a>
</div>

<div class= updateform>

<form action="/forgotpassword" method="post">

<label class="labelheading">Forgot Password</label><br><br><br>

<b> Email :</b>&nbsp;&nbsp;&nbsp; <input type="text" name="mailid" placeholder="Enter Email"><br><br>

<button type="submit" class="buttons" name="submit">Submit</button>

<a href="/login"><button type="button" class="backbutton" name="backButton">Back</button></a>

<!-- Error message display -->
<p th:if="${error}" th:text="${error}" class="error" style="text-align: center;"></p>
<p th:if="${success}" th:text="${success}" class="success" style="color: green; text-align: center;"></p>

</form>

</div>


<div class="bottom-header">
<p>Designed by Hari</p>
</div>

</body>
</html>