<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home page</title>
<link rel="stylesheet" href="css/TransferOrder.css">
</head>
<body>

<div class="top-header">
<img src="images/logo.jpg" alt="logo" class="logo">
<h2 class="heading">Transfer Order</h2>
<a class="logout" href="/logout"> Logout </a>
</div>

<div class="background-image">
<img src="images/under-construction.jpg" alt="under-construction" >
</div>

<div class="bottom-header">
<p>Designed by Hari</p>
</div>

</body>
</html>